:local(.cnt) {
  text-align: center;
}

:local(.n) {
  font-size: 72px;
  font-weight: 400;
}
:local(.subn) {
  font-size: 20px;
  margin-top: -10px;
  font-weight: 400;
  margin-bottom: 10px;
}

:local(.subtitle) {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 100;
}

@media(max-width:600px){
  :local(.n) {
    font-size: 72px;
  }
  :local(.subn) {
    font-size: 18px;
  }
  :local(.subtitle) {
    font-size: 14px;
  }
}

@media(max-width:1025px){
  :local(.n) {
    font-size: 48px;
  }
  :local(.subn) {
    font-size: 18px;
  }
  :local(.subtitle) {
    font-size: 14px;
  }
}